.choiceButton{
    -fx-background-color:
        linear-gradient(#98AFFF 0%, #986DD1 25%, #986DD1 75%, #986DD1 100%);
    -fx-background-insets: 0, 5; 
    -fx-background-radius: 9, 9; 
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.choiceButton Text {
    -fx-effect: dropshadow( one-pass-box , white , 0, 0.0 , 0 , 1 );
}

.choiceButton:hover {
    -fx-background-color:
        linear-gradient(#98AFFF 0%, #986DFF 25%, #986FFF 75%, #98AFFF 100%);
        
}

.toggle-button {
  -fx-background-image: url('http://icons.iconarchive.com/icons/aha-soft/desktop-buffet/128/Pizza-icon.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.toggle-button:selected {
  -fx-background-image: url('http://icons.iconarchive.com/icons/aha-soft/desktop-buffet/128/Piece-of-cake-icon.png');
}